@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

$morado: #A15382;
$rojo: #F26468;
$gris-claro: #f1f1f1;
$gris-medio: #7C7C7C;
$gris-oscuro: #3D3D3D;
$weight1: 100;
$weight2: 400;
$weight3: 600;
$weight4: 700;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(76.05deg, #A25382 2.94%, #F26468 80.59%);

    nav {
        position: fixed;
        display: flex;
        justify-content: space-between;
        height: 8vh;
        min-height: 70px;
        width: 100%;

        .nav-brand {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            padding-left: 5vw;

            img {
                height: 40px;
                padding-right: 15px;
            }

            h1 {
                color: $gris-claro;
                font-weight: $weight3;
            }
        }

        .toggler {
            display: none;
        }

        .nav-links {
            display: flex;
            align-items: center;
            padding-right: 5vw;

            a {
                text-decoration: none;
                color: $gris-claro;
                margin-left: 2vw;
            }

            a:hover {
                opacity: 0.7;
            }
        }
    }

    .scroll {
        background-color: rgba(61, 61, 61, 0.9);
        transition: 0.4s ease all;
    }

    .hero {
        display: flex;
        width: 100%;
        padding: 0 5vw;
        margin-top: 8vh;

        .hero-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 10vw;

            h1 {
                color: $gris-claro;
                font-size: clamp(20px, 6vw, 50px);
                font-weight: $weight4;
                padding-bottom: 1%;
            }

            p {
                font-weight: $weight3;
                font-size: clamp(12px, 3vw, 20px);
                color: rgba($color: #F1F1F1, $alpha: 0.5);
            }

            .hero-text-buttons {
                display: flex;
                width: 100%;
                padding-top: 10%;

                #button1 {
                    text-decoration: none;
                    background-color: $gris-claro;
                    color: $morado;
                    padding: 10px 20px;
                    border-radius: 100px;
                    margin-right: 2%;
                    border: 3px solid $gris-claro;
                    font-weight: $weight3;
                    font-size: clamp(11px, 2.5vw, 16px);
                    transition: 0.4s ease all;
                }

                #button1:hover {
                    opacity: 0.7;
                    transition: 0.4s ease all;
                }

                #button2 {
                    text-decoration: none;
                    color: $gris-claro;
                    padding: 10px 20px;
                    border-radius: 100px;
                    border: 3px solid $gris-claro;
                    font-size: clamp(11px, 1.8vw, 16px);
                    font-weight: $weight3;
                    transition: 0.4s ease all;
                }

                #button2:hover {
                    opacity: 0.7;
                    transition: 0.4s ease all;
                }
            }
        }

        .hero-image {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7vh 0;

            svg {
                max-width: 770px;
                width: 40vw;
                padding: 7vh 0;
            }
        }
    }
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $gris-oscuro;
    flex-wrap: wrap;

    svg {
        fill: $gris-claro;
        width: clamp(90px, 20vw, 200px);
        margin: 2rem 2rem;
        opacity: 1;
    }

    svg:hover {
        opacity: 0.7;
    }
}

.nosotros {
    background-color: $gris-claro;
    padding: 15vh 5vw;

    .nosotros-regular {
        display: flex;
    
        .texto-nosotros {
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            h1 {
                font-size: clamp(35px, 8vw, 70px); /* 40px, 8vw, 70px */
                color: $gris-medio;
            }
    
            p {
                font-size: clamp(14px, 2.5vw, 22px); /* 15px, 2.5vw, 22px */
                color: rgba($color: #7C7C7C, $alpha: 0.7);
            }
        }
    
        .svg-nosotros {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5vw;
    
            svg {
                fill: url(#gradient);
                width: 25vw;
            }
        }
    }
    
    .nosotros-inverse {
        display: flex;
        flex-direction: row-reverse;
    
        .texto-nosotros {
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            h1 {
                font-size: clamp(35px, 8vw, 70px);
                color: $gris-medio;
                text-align: right;
            }
    
            p {
                font-size: clamp(14px, 2.5vw, 22px);
                color: rgba($color: #7C7C7C, $alpha: 0.7);
                text-align: right;
            }
        }
    
        .svg-nosotros {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 5vw;
    
            svg {
                fill: url(#gradient);
                width: 25vw;
            }
        }
    }
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $gris-claro;
    padding: 15vh 5vw 15vh 5vw;

    h1 {
        font-size: clamp(40px, 9vw, 80px);
        color: $rojo;
        text-align: center;
    }

    .servicios-p {
        padding: 0 10vw;
    
        p {
            font-size: clamp(14px, 2.5vw, 22px);
            color: rgba($color: #7C7C7C, $alpha: 0.7);
            padding: 2.5vh 0;
            text-align: center;
        }
    
        ul {
            color: $rojo;
            font-weight: 600;
            font-size: clamp(14px, 2.5vw, 22px);
            padding-left: 1vw;
            text-align: center;
            list-style: none;
        }
    }
    
    .planes {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 5vh;

        .plan {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: linear-gradient(76.05deg, #A25382 2.94%, #F26468 80.59%);
            border-radius: 20px;
            padding: 1% 0;
            width: 450px;
            margin: 4% 4% 0 4%;
            box-shadow: 1px 1px 5px $gris-medio;

            h1 {
                font-size: clamp(30px, 5.5vw, 50px); /* 30px, 5.5vw, 50px */
                padding: 5% 15% 3% 15%;
                color: $gris-claro;
                text-align: center;
            }

            p {
                font-size: clamp(14px, 2.5vw, 17px); /* 14px, 2.5vw, 17px */
                text-align: center;
                padding: 0 5% 10% 5%;
                color: rgba($color: #f1f1f1, $alpha: 0.7);
            }

            ul {
                list-style: square;
                padding: 0 15%;
                font-size: clamp(14px, 2.5vw, 17px);

                li {
                    color: $gris-claro;
                    z-index: 0;
                }
            }

            a {
                margin: 10% 0 5% 0;
                text-decoration: none;
                background-color: $gris-claro;
                color: $morado;
                padding: 10px 20px;
                border-radius: 100px;
                border: 3px solid $gris-claro;
                font-weight: $weight3;
                font-size: clamp(11px, 2.5vw, 16px);
                transition: 0.4s ease all;
            }

            a:hover {
                opacity: 0.7;
                transition: 0.4s ease all;
            }
        }
    }
}

.clientes {
    background: linear-gradient(76.05deg, #A25382 2.94%, #F26468 80.59%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $gris-claro;
    padding: 15vh 5vw;

    h1 {
        font-size: clamp(40px, 9vw, 80px);
        text-align: center;
    }

    .clientes_div {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .cliente {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h2 {
                font-size: clamp(20px, 3vw, 30px); /* 20px, 3vw, 30px */
                padding: 5vh 0 2vh 0;
                text-align: center;
            }

            img {
                width: clamp(280px, 70vw, 770px); /* 280px, 70vw, 770px */
                border-radius: .5em;
                box-shadow: 1px 1px 5px $gris-oscuro;
            }

            a {
                color: $gris-claro;
                font-size: clamp(12px, 2.2vw, 20px); /* 12px, 2.2vw, 20px */
                font-weight: $weight3;
                padding-top: 2vh;
            }

            a:hover {
                opacity: 0.5;
            }
        }
    }
}

.contacto {
    padding-top: 15vh;
    padding-bottom: 10vh;
    background-color: $gris-claro;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: clamp(40px, 9vw, 80px);
        color: $rojo;
        text-align: center;
    }

    p {
        font-size: clamp(14px, 2.5vw, 22px);
        color: rgba($color: #7C7C7C, $alpha: 0.7);
        padding: 2.5vh 0;
        text-align: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 90vw;
        max-width: 900px; /* 900px */

        label, .label {
            font-size: 20px;
            font-weight: 600;
            color: $gris-oscuro;
        }

        .input {

            input {
                width: 100%;
                border: 5px solid $rojo;
                padding: 0.7vh 0.5vw;
                margin: 0.5vh 0;
                border-radius: 10px;
                background: $rojo;
                font-size: 15px;
                color: $gris-oscuro;
                font-weight: 600;
            }

            input:focus {
                outline: none;
                border: 5px solid $gris-oscuro;
            }
        }

        textarea {
            width: 100%;
            height: 20vh;
            background-color: $rojo;
            border: 5px solid $rojo;
            border-radius: 10px;
            color: $gris-oscuro;
            padding: 0.7vh 0.5vw;
            font-weight: 600;
            font-size: 15px;
            font-family: 'Poppins', sans-serif;
        }

        textarea:focus {
            outline: none;
            border: 5px solid $gris-oscuro;
        }

        textarea::placeholder {
            color: $gris-oscuro;
        }

        .submit {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            button {
                background-color: $gris-oscuro;
                border: 5px solid $gris-oscuro;
                color: $gris-claro;
                margin-top: 1vh;
                padding: 10px 30px;
                border-radius: 100px;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
                transition: 0.4s ease all;
            }

            button:hover {
                opacity: 0.7;
                transition: 0.4s ease all;
                cursor: pointer;
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gris-oscuro;
    color: $gris-claro;
    padding: 5vh 0;

    h1 {
        font-size: clamp(17px, 5vw, 30px); /* 17px, 5vw, 30px */
    }

    h2 {
        font-size: clamp(15px, 4vw, 25px); /* 15px, 4vw, 25px */
        color: rgba($color: #f1f1f1, $alpha: 0.7);
        padding: 2vh 0;
    }

    .footer-links {
        display: flex;
        flex-wrap: nowrap;

        svg {
            height: 30px;
            width: 30px;
            fill: rgba($color: #f1f1f1, $alpha: 0.7);
            margin: 0 0.5vw;
            transition: 0.4s ease all;
        }

        svg:hover {
            fill: $gris-claro;
            transition: 0.4s ease all;
        }
    }
}

@media (max-width: 990px) {
    .header {

        nav {
            .nav-brand {
                z-index: 100;
                white-space: nowrap;
            }

            .toggler {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 8vh;
                min-height: 70px;
                padding-right: 5vw;
                z-index: 100;

                .toggler-image {
                    background: url(images/burgir.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 20px;
                    width: 30px;
                    cursor: pointer;
                }

                .toggler-image.active {
                    background: url(images/burgirX.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    height: 20px;
                    width: 30px;
                }
            }

            .nav-links {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                width: 100%;
                background-color: $gris-oscuro;
                transform: translateX(100%);
                transition: 0.4s ease all;

                a {
                    text-decoration: none;
                    color: $gris-claro;
                    font-size: clamp(30px, 10vw, 50px); /* 30px, 7vw, 50px */
                    font-weight: $weight3;
                    padding: 2vh 0;
                }
            }

            .active {
                transform: translateX(0);
                transition: 0.4s ease all;
            }
        }

        .hero {
            flex-direction: column-reverse;
            min-height: 92vh;
            justify-content: center;
            padding-bottom: 5vh;

            .hero-image {
                padding: 0;

                svg {
                    max-width: 590px;
                    width: 80vw;
                }
            }

            .hero-text {
                padding-right: 0;
                align-items: center;

                h1 {
                    text-align: center;
                }

                p {
                    text-align: center;
                }

                .hero-text-buttons {
                    padding-top: 3%;
                    justify-content: center;
                }
            }
        }
    }

    .nosotros {
        padding-bottom: 0;

        .nosotros-inverse {
            padding-top: 5vh;
        }
    }

    .servicios {

        .servicios-p {
            padding: 0;
        }

        .planes {
            padding-top: 15vh;
        }
    }
}

@media (max-width: 500px) {
    .nosotros {

        .nosotros-regular {
            flex-direction: column;

            .texto-nosotros {
            
                h1, p {
                    text-align: center;
                }
            }

            .svg-nosotros {
                padding: 5vh 0;
                
                svg {
                    width: 50vw;
                }
            }
        }

        .nosotros-inverse {
            flex-direction: column;

            .texto-nosotros {
            
                h1, p {
                    text-align: center;
                }
            }

            .svg-nosotros {
                padding: 5vh 0;
                
                svg {
                    width: 50vw;
                }
            }
        }
    }
}