@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(76.05deg, #A25382 2.94%, #F26468 80.59%);
}

.header nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8vh;
  min-height: 70px;
  width: 100%;
}

.header nav .nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 5vw;
}

.header nav .nav-brand img {
  height: 40px;
  padding-right: 15px;
}

.header nav .nav-brand h1 {
  color: #f1f1f1;
  font-weight: 600;
}

.header nav .toggler {
  display: none;
}

.header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5vw;
}

.header nav .nav-links a {
  text-decoration: none;
  color: #f1f1f1;
  margin-left: 2vw;
}

.header nav .nav-links a:hover {
  opacity: 0.7;
}

.header .scroll {
  background-color: rgba(61, 61, 61, 0.9);
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 5vw;
  margin-top: 8vh;
}

.header .hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 10vw;
}

.header .hero .hero-text h1 {
  color: #f1f1f1;
  font-size: clamp(20px, 6vw, 50px);
  font-weight: 700;
  padding-bottom: 1%;
}

.header .hero .hero-text p {
  font-weight: 600;
  font-size: clamp(12px, 3vw, 20px);
  color: rgba(241, 241, 241, 0.5);
}

.header .hero .hero-text .hero-text-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 10%;
}

.header .hero .hero-text .hero-text-buttons #button1 {
  text-decoration: none;
  background-color: #f1f1f1;
  color: #A15382;
  padding: 10px 20px;
  border-radius: 100px;
  margin-right: 2%;
  border: 3px solid #f1f1f1;
  font-weight: 600;
  font-size: clamp(11px, 2.5vw, 16px);
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header .hero .hero-text .hero-text-buttons #button1:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header .hero .hero-text .hero-text-buttons #button2 {
  text-decoration: none;
  color: #f1f1f1;
  padding: 10px 20px;
  border-radius: 100px;
  border: 3px solid #f1f1f1;
  font-size: clamp(11px, 1.8vw, 16px);
  font-weight: 600;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header .hero .hero-text .hero-text-buttons #button2:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header .hero .hero-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7vh 0;
}

.header .hero .hero-image svg {
  max-width: 770px;
  width: 40vw;
  padding: 7vh 0;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3D3D3D;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-icons svg {
  fill: #f1f1f1;
  width: clamp(90px, 20vw, 200px);
  margin: 2rem 2rem;
  opacity: 1;
}

.social-icons svg:hover {
  opacity: 0.7;
}

.nosotros {
  background-color: #f1f1f1;
  padding: 15vh 5vw;
}

.nosotros .nosotros-regular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nosotros .nosotros-regular .texto-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nosotros .nosotros-regular .texto-nosotros h1 {
  font-size: clamp(35px, 8vw, 70px);
  /* 40px, 8vw, 70px */
  color: #7C7C7C;
}

.nosotros .nosotros-regular .texto-nosotros p {
  font-size: clamp(14px, 2.5vw, 22px);
  /* 15px, 2.5vw, 22px */
  color: rgba(124, 124, 124, 0.7);
}

.nosotros .nosotros-regular .svg-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5vw;
}

.nosotros .nosotros-regular .svg-nosotros svg {
  fill: url(#gradient);
  width: 25vw;
}

.nosotros .nosotros-inverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.nosotros .nosotros-inverse .texto-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nosotros .nosotros-inverse .texto-nosotros h1 {
  font-size: clamp(35px, 8vw, 70px);
  color: #7C7C7C;
  text-align: right;
}

.nosotros .nosotros-inverse .texto-nosotros p {
  font-size: clamp(14px, 2.5vw, 22px);
  color: rgba(124, 124, 124, 0.7);
  text-align: right;
}

.nosotros .nosotros-inverse .svg-nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5vw;
}

.nosotros .nosotros-inverse .svg-nosotros svg {
  fill: url(#gradient);
  width: 25vw;
}

.servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
  padding: 15vh 5vw 0 5vw;
}

.servicios h1 {
  font-size: clamp(40px, 9vw, 80px);
  color: #F26468;
  text-align: center;
}

.servicios .servicios-p {
  padding: 0 10vw;
}

.servicios .servicios-p p {
  font-size: clamp(14px, 2.5vw, 22px);
  color: rgba(124, 124, 124, 0.7);
  padding: 2.5vh 0;
  text-align: center;
}

.servicios .servicios-p ul {
  color: #F26468;
  font-weight: 600;
  font-size: clamp(14px, 2.5vw, 22px);
  padding-left: 1vw;
  text-align: center;
  list-style: none;
}

.servicios .planes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5vh;
}

.servicios .planes .plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(76.05deg, #A25382 2.94%, #F26468 80.59%);
  border-radius: 20px;
  padding: 1% 0;
  width: 450px;
  margin: 4% 4% 0 4%;
  -webkit-box-shadow: 1px 1px 5px #7C7C7C;
          box-shadow: 1px 1px 5px #7C7C7C;
}

.servicios .planes .plan h1 {
  font-size: clamp(30px, 5.5vw, 50px);
  /* 30px, 5.5vw, 50px */
  padding: 5% 15% 3% 15%;
  color: #f1f1f1;
  text-align: center;
}

.servicios .planes .plan p {
  font-size: clamp(14px, 2.5vw, 17px);
  /* 14px, 2.5vw, 17px */
  text-align: center;
  padding: 0 5% 10% 5%;
  color: rgba(241, 241, 241, 0.7);
}

.servicios .planes .plan ul {
  list-style: square;
  padding: 0 15%;
  font-size: clamp(14px, 2.5vw, 17px);
}

.servicios .planes .plan ul li {
  color: #f1f1f1;
  z-index: 0;
}

.servicios .planes .plan a {
  margin: 10% 0 5% 0;
  text-decoration: none;
  background-color: #f1f1f1;
  color: #A15382;
  padding: 10px 20px;
  border-radius: 100px;
  border: 3px solid #f1f1f1;
  font-weight: 600;
  font-size: clamp(11px, 2.5vw, 16px);
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.servicios .planes .plan a:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.contacto {
  padding-top: 15vh;
  padding-bottom: 10vh;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto h1 {
  font-size: clamp(40px, 9vw, 80px);
  color: #F26468;
  text-align: center;
}

.contacto p {
  font-size: clamp(14px, 2.5vw, 22px);
  color: rgba(124, 124, 124, 0.7);
  padding: 2.5vh 0;
  text-align: center;
}

.contacto .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  max-width: 900px;
  /* 900px */
}

.contacto .form label, .contacto .form .label {
  font-size: 20px;
  font-weight: 600;
  color: #3D3D3D;
}

.contacto .form .input input {
  width: 100%;
  border: 5px solid #F26468;
  padding: 0.7vh 0.5vw;
  margin: 0.5vh 0;
  border-radius: 10px;
  background: #F26468;
  font-size: 15px;
  color: #3D3D3D;
  font-weight: 600;
}

.contacto .form .input input:focus {
  outline: none;
  border: 5px solid #3D3D3D;
}

.contacto .form textarea {
  width: 100%;
  height: 20vh;
  background-color: #F26468;
  border: 5px solid #F26468;
  border-radius: 10px;
  color: #3D3D3D;
  padding: 0.7vh 0.5vw;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.contacto .form textarea:focus {
  outline: none;
  border: 5px solid #3D3D3D;
}

.contacto .form textarea::-webkit-input-placeholder {
  color: #3D3D3D;
}

.contacto .form textarea:-ms-input-placeholder {
  color: #3D3D3D;
}

.contacto .form textarea::-ms-input-placeholder {
  color: #3D3D3D;
}

.contacto .form textarea::placeholder {
  color: #3D3D3D;
}

.contacto .form .submit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacto .form .submit button {
  background-color: #3D3D3D;
  border: 5px solid #3D3D3D;
  color: #f1f1f1;
  margin-top: 1vh;
  padding: 10px 30px;
  border-radius: 100px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.contacto .form .submit button:hover {
  opacity: 0.7;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3D3D3D;
  color: #f1f1f1;
  padding: 5vh 0;
}

.footer h1 {
  font-size: clamp(17px, 5vw, 30px);
  /* 17px, 5vw, 30px */
}

.footer h2 {
  font-size: clamp(15px, 4vw, 25px);
  /* 15px, 4vw, 25px */
  color: rgba(241, 241, 241, 0.7);
  padding: 2vh 0;
}

.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer .footer-links svg {
  height: 30px;
  width: 30px;
  fill: rgba(241, 241, 241, 0.7);
  margin: 0 0.5vw;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.footer .footer-links svg:hover {
  fill: #f1f1f1;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

@media (max-width: 990px) {
  .header nav .nav-brand {
    z-index: 100;
    white-space: nowrap;
  }
  .header nav .toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    height: 8vh;
    min-height: 70px;
    padding-right: 5vw;
    z-index: 100;
  }
  .header nav .toggler .toggler-image {
    background: url(images/burgir.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
    cursor: pointer;
  }
  .header nav .toggler .toggler-image.active {
    background: url(images/burgirX.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
  }
  .header nav .nav-links {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #3D3D3D;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
  }
  .header nav .nav-links a {
    text-decoration: none;
    color: #f1f1f1;
    font-size: clamp(30px, 10vw, 50px);
    /* 30px, 7vw, 50px */
    font-weight: 600;
    padding: 2vh 0;
  }
  .header nav .active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.4s ease all;
    transition: 0.4s ease all;
  }
  .header .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    min-height: 92vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 5vh;
  }
  .header .hero .hero-image {
    padding: 0;
  }
  .header .hero .hero-image svg {
    max-width: 590px;
    width: 80vw;
  }
  .header .hero .hero-text {
    padding-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .hero .hero-text h1 {
    text-align: center;
  }
  .header .hero .hero-text p {
    text-align: center;
  }
  .header .hero .hero-text .hero-text-buttons {
    padding-top: 3%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nosotros {
    padding-bottom: 0;
  }
  .nosotros .nosotros-inverse {
    padding-top: 5vh;
  }
  .servicios .servicios-p {
    padding: 0;
  }
  .servicios .planes {
    padding-top: 15vh;
  }
}

@media (max-width: 500px) {
  .nosotros .nosotros-regular {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .nosotros-regular .texto-nosotros h1, .nosotros .nosotros-regular .texto-nosotros p {
    text-align: center;
  }
  .nosotros .nosotros-regular .svg-nosotros {
    padding: 5vh 0;
  }
  .nosotros .nosotros-regular .svg-nosotros svg {
    width: 50vw;
  }
  .nosotros .nosotros-inverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nosotros .nosotros-inverse .texto-nosotros h1, .nosotros .nosotros-inverse .texto-nosotros p {
    text-align: center;
  }
  .nosotros .nosotros-inverse .svg-nosotros {
    padding: 5vh 0;
  }
  .nosotros .nosotros-inverse .svg-nosotros svg {
    width: 50vw;
  }
}
/*# sourceMappingURL=style.css.map */